.imagem-central {
  background-image: url('../_imagens/o-clima-perfeito-para.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.conteudo-site {
  position: relative;
  z-index: 1;
}

.titulo-principal {
  color: aliceblue;
  font-size: 40px;
}

.cardapio {
  margin-top: 10px;
  margin-left: 600px;
  width: 200px;
  padding: 60px 60px;
  font-size: 20px;
}

.interface{
  background-color: aqua;
}